.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  text-align: left;
  
  & > div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  label {
    min-width: 80px;
  }
}

.jsonInput {
  min-width: 500px;
  min-height: 200px;
}

.error {
  color: red;
  font-weight: bold;
}